<section class="section section-lg section-bottom-md-70 bg-default">
    <div class="container">
        <h3 class="oh"><span class="d-inline-block wow slideInUp" data-wow-delay="0s">our team</span></h3>
        <div class="row row-lg row-40 justify-content-center">
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern"><a class="team-modern-figure" href="#"><img
                            src="images/cat-0.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">18120592<br>Nguyễn Phú Bảo Tiến</a></h6>
                        <div class="team-modern-status">Dev/Tester</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/profile.php?id=100006329884801"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern"><a class="team-modern-figure" href="#"><img
                            src="images/cat-1.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">18120629<br>Trần Văn Tú</a></h6>
                        <div class="team-modern-status">Dev/Tester</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/changemylifek/"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern"><a class="team-modern-figure" href="#"><img
                            src="images/cat-2.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">18120635<br>Nguyễn Xuân Tuấn</a></h6>
                        <div class="team-modern-status">BA</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/plebla.plebla/"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern"><a class="team-modern-figure" href="#"><img
                            src="images/cat-3.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#">18120639<br>Cao Huy Tùng</a></h6>
                        <div class="team-modern-status">Nhóm trưởng</div>
                        <ul class="list-inline team-modern-social-list">
                            <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com/tung.huy.7773/"></a></li>
                            <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>