

  <div class="preloader">
    <div class="wrapper-triangle">
      <div class="pen">
        <div class="line-triangle">
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
        </div>
        <div class="line-triangle">
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
        </div>
        <div class="line-triangle">
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
          <div class="triangle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="page">

    <!--Cart-->
    <section class="section section-lg bg-default text-md-left">
      <div class="container wow fadeInLeft" data-wow-delay=".15s">
        <!-- <hr class="my-3 mx-5"> -->
        <div class="row p-3 mx-5 my-0 justify-content-between">
          <article class="product-cart ">
            <div class="product-figure-cart "><img src="images/product-1-161x162.png" alt="" width="150" height="150" />
            </div>
            <div class="product-detail-cart flex-column">
              <h5 class="product-name-cart">Margherita Pizza</h5>
              <h6 class="product-price-cart">Đơn giá: $<span class="base-price">24.00</span></h6>
              <p style="font-size: 18px">Số lượng:</p>
              <div class="input-group number-spinner number-spinner-cart">
                <span class="input-group-btn">
                  <button class="btn btn-stepper " data-dir="dwn"><span class="fa fa-minus"></span></button>
                </span>
                <input type="number" class="form-control text-center" value="1" oninput='quantityChange(this)'>
                <span class="input-group-btn">
                  <button class="btn btn-stepper " data-dir="up"><span class="fa fa-plus"></span></button>
                </span>
              </div>
            </div>
          </article>
          <div class="d-flex flex-column" style="width: auto;">
            <button class="btn btn-danger delete-item-cart"><span class="fa fa-close"
                aria-hidden="true"></span></button>
            <h6 class="product-price-cart mt-auto mb-0" style="text-align: right;">Thành tiền: $<span
                class="total-price">24.00</span></h6>
          </div>
        </div>
        <hr class="my-3 mx-5">
        <div class="row p-3 mx-5 my-0 justify-content-between">
          <article class="product-cart ">
            <div class="product-figure-cart "><img src="images/product-1-161x162.png" alt="" width="150" height="150" />
            </div>
            <div class="product-detail-cart flex-column ">
              <h5 class="product-name-cart">Margherita Pizza</h5>
              <h6 class="product-price-cart">Đơn giá: $<span class="base-price">24.00</span></h6>
              <p style="font-size: 18px">Số lượng:</p>
              <div class="input-group number-spinner number-spinner-cart">
                <span class="input-group-btn">
                  <button class="btn btn-stepper " data-dir="dwn"><span class="fa fa-minus"></span></button>
                </span>
                <input type="number" class="form-control text-center" value="1" oninput='quantityChange(this)'/>
                  <button class="btn btn-stepper " data-dir="up"><span class="fa fa-plus"></span></button>
                </span>
              </div>
            </div>
          </article>
          <div class="d-flex flex-column" style="width: auto;">
            <button class="btn btn-danger delete-item-cart"><span class="fa fa-close"
                aria-hidden="true"></span></button>
            <h6 class="product-price-cart mt-auto mb-0" style="text-align: right;">Thành tiền: $<span
                class="total-price">24.00</span></h6>
          </div>
        </div>
        <hr class="my-3 mx-5">
        <div class="row-reverse mx-5" style="text-align: right;">
          <h5 class="total-price-cart">Tổng tiền:</h5>
          <h5 class="total-price-cart">$<span class="sum">0</span></h5>
        </div>
        <div class="row justify-content-between mx-5" style="text-align: center;">
          <div class="button-wrap p-0 w-auto"><a class="button button-md button-primary button-winona" href="#">Continue Shopping</a></div>
          <div class="button-wrap m-0 p-0  w-auto"><a class="button button-md button-primary button-winona" href="#">Check out</a></div>
        </div>
      </div>

    </section>



  
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
  <!-- coded by Himic-->


<script>

      function updatePrices() {
      let basePrices = $('.product-price-cart span.base-price');
      let totalPrices = $('.product-price-cart span.total-price');
      let sum = $('.total-price-cart span.sum');
      let quantity = $('input.form-control');
      let length = basePrices.length;
      let tempSum = 0;
      for (let i = 0; i < length; i++) {
        let temp = parseInt(basePrices[i].innerHTML) * parseInt(quantity[i].value);
        //console.log(temp);
        tempSum += temp;
        totalPrices[i].innerHTML = temp;
      }
      sum[0].innerHTML = tempSum;
      return this;
    }
  $(document).ready(()=>{
    updatePrices();
    $(document).on('click', '.number-spinner button',updatePrices);
  });
     function quantityChange(ip){
       console.log('value: ',ip.value);
        if(ip.value<=0)
            ip.value=0;
      updatePrices();
    };
</script>
