<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">
            <img src="https://picsum.photos/200" class="img-thumbnail" alt="">
            <a href="/users//orderHistory" class="btn btn-primary m-4 aqua-gradient">
                <i class="fa fa-shopping-cart" style="font-style: normal;"  aria-hidden="true"></i>
                Order History
            </a>
        </div>
        <div class="col-md-8 themed-grid-col text-left jumbotron">
            <div class="pb-3">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your information</span>
                    <span class="badge bg-secondary rounded-pill"><i class="fa fa-info-circle"
                            style="font-style: normal;" aria-hidden="true"></i></span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between">
                        <h6 class="my-0">Email</h6>
                        <span>{{user.CUS_EMAIL}}</span>
                        <strong><i class="fa fa-envelope-o" style="font-style: normal;" aria-hidden="true"></i></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Name </h6>
                            <small class="text-muted">{{user.CUS_NAME}}</small>
                        </div>
                        <span class="text-muted"><i class="fa fa-user-secret" style="font-style: normal;"
                                aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Phone Number</h6>
                            <small class="text-muted">{{user.CUS_PHONE}}</small>
                        </div>
                        <span class="text-muted"><i class="fa fa-volume-control-phone" style="font-style: normal;"
                                aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Address</h6>
                            <small class="text-muted">{{user.CUS_ADDRESS}}</small>
                        </div>
                        <span class="text-muted"><i class="fa fa-location-arrow" style="font-style: normal;"
                                aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Password</h6>
                            <small>******</small>
                        </div>
                        <span class="text-success">
                            <a href="/users/change-password">
                                <button class="btn btn-warning btn-sm">Change <i class="fa fa-angle-right"
                                        style="font-style: normal;" aria-hidden="true"></i> </button>
                            </a>
                        </span>
                    </li>

                </ul>
            </div>
            <div class="row justify-content-center">
                <a href="/users//editProfile" class="btn btn-primary p-2" style="width : auto">
                    Edit information
                </a>

            </div>
        </div>

    </div>
</div>
{{#if editProfileSuccess}}
<div class="d-flex justify-content-center">
    <div id="snackbar">Your profile updated...<i class="fa fa-check" style="font-style: normal; color: green"
            aria-hidden="true"></i></div>
</div>
{{/if}}
{{#if updatePasswordsuccess}}
<div class="d-flex justify-content-center">
    <div id="snackbar">Password Updated...<i class="fa fa-check" style="font-style: normal; color: green"
            aria-hidden="true"></i></div>
</div>
{{/if}}
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<!-- coded by Himic-->
<script>
    //Show snackbar
    $('document').ready(() => {
        var x = document.getElementById("snackbar");
        console.log(x);
        if (x != undefined) {
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    });
</script>