<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col"><img src="https://picsum.photos/200" class="img-thumbnail" alt=""></div>
        <div class="col-md-8 themed-grid-col text-left jumbotron ">
            <div class="pb-3">
                <h4 class="mb-3">Edit information</h4>
                <form class="needs-validation" novalidate method="POST">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder=""
                                value="{{user.CUS_NAME}}" required name="name">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Phone number</label>
                            <input type="number" class="form-control" id="firstName" placeholder=""
                                value="{{user.CUS_PHONE}}" required name="phone">
                        </div>
                        <div class="col-sm-6">
                            <label for="start">Start date:</label>
                             <br>
                            <input type="date"  name="birthDay" value="{{user.BIRTHDAY}}" min="1900-01-01" max="2025-01-01">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Address</label>
                            <input type="text" class="form-control" id="firstName" placeholder=""
                                value="{{user.CUS_ADDRESS}}" required name="address">
                        </div>

                        <div class="col d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>