<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5 d-flex justify-content-center" style="height: 400px;">
    <div class="col-md-7 col-lg-8">
        <form action="" method="POST" class="was-validated">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Forget password</h4>
                        {{#if error}}
                        <div class="alert alert-dismissible alert-danger">
                            <strong>{{error}}</strong> 
                        </div>
                        {{/if}}
                        <hr><br>
                        <p>Please enter your email or phone number to search for your account.</p><br>
                        <div class="input-group position-relative">
                            <span class="input-group-text">@</span>
                            <input type="email" class="form-control " oninput="checkEmail(this)" name="email" id="email" placeholder="email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Check this checkbox to continue.</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-dark">Send password reset email</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
